* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: "#ffffff";
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background: #000000;
  padding: 6px;
  border-radius: 3px;
  color: white;
}

button#delete {
  background: red;
}

input {
  padding: 6px;
  border: none;
  background: #ececec;
  border-radius: 3px;
}
